*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
html,body{
    height: 100%;
    width: 100%;

}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.shape{
    margin: 10px;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    margin-left: 10px;
    display: flex;
    align-items: center; 
    justify-content: center;
    
}
#circle:hover{
    background-image: url("img-1.jpg_large");
    background-size: cover;
    background-position: 0%;
}
#circle{
    border-radius: 50%;
}
#dimond:hover{
    background-image: url("img-2.jpeg");
    rotate: 0deg;
}
#dimond{
    rotate: 45deg;
    margin-top: 40%;
}
#dimond h1{
    rotate: -45deg;
}
#square:hover{
  
    background-image: url("img-3.gif");
}
